.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #037F8C;
  border-radius: 10px;
}

.habit-square {
  color: #037F8C;
  border: 2px solid #037F8C;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.habit-square:hover {
  background-color: #037F8C;
  color: #F7F9FF;
}

.habit-square.selected {
  background-color: #FC7A57;
  color: #F7F9FF;
}

.habit-square.selected:hover {
  background-color: #FC7A57;
  color: #F7F9FF;
}
