body{font-family: 'Poppins', sans-serif;}
.wordnik-word{font-weight: 800;font-size: 1.1em; font-style: italic;}
.wordnik-word-partofspeech{font-size: .7rem;font-weight: 400;}
#wordnik-wordofday {padding-left:15px;margin-top: 0px;}
#wordnik-wordofday a {color: inherit;text-decoration-line: none;}
#wordnik-wordofday-heading{margin-bottom: 0px;}