.reading-app {
  	color: #747273;
	border-style: solid;
	text-align: center;
}

.reading-button {
	border: 1px solid #747273; 
	background-color: white; 
	color: #747273;
	box-shadow: rgb(55, 78, 102) 0px 15px 25px -10px; 
	width: 400px; 
	height: 120px; 
	margin-bottom: 20px; 
	font-family: 'Raleway', sans-serif;
}

.reading-button-2 {
	border: 1px solid #747273;
	background-color: #747273; 
	color: #F7F9FF; 
	box-shadow: rgb(55, 78, 102) 0px 15px 25px -10px; 
	width: 400px; 
	height: 120px; 
	margin-bottom: 20px; 
	font-family: 'Raleway', sans-serif;
}

.reading-button:hover {
	background-color: #747273;
	color: #F7F9FF;
}