h2 {
	text-align: center;
	padding-bottom: 30px;
	color: #037f8c;
}

.loginForm,
.registerForm {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	padding-bottom: 5px;
	/* background-image: url('../assets/images/logos/logoYellow.png');
    background-repeat: no-repeat;
    background-position:bottom; */
}


.form-container {
	border: 2px solid #037f8c;
	border-radius: 10px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 60px;
	padding-top: 40px;
	margin: 20px;
}

@media screen and (min-width: 600px) {
	.form-container {
		border: 2px solid #037f8c;
		border-radius: 10px;
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 60px;
		padding-top: 40px;
		margin: 20px;
	}
}

@media screen and (max-width: 389px) {
	.form-container {
		border: 2px solid #037f8c;
		border-radius: 10px;
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 60px;
		padding-top: 40px;
		margin: 20px;
	}
}

.switchButton {
	background: none;
	text-decoration: underline;
}

button {
	border: none;
	background-color: #037f8c;
	color: white;
	margin: 10px;
	padding: 5px;
	border-radius: 20px;
	cursor: pointer;
}

.switchButton {
	border: none;
	color: #037f8c;
	margin: 10px;
	padding: 5px;
	border-radius: 20px;
	cursor: pointer;
}

input {
	margin: 8px;
	padding: 8px;
	padding-bottom: 15px;
	border-radius: 5px;
	border: none;
}

.fullLogo {
	padding-left: 15px;
	padding-bottom: 10px;
}

@media screen and (min-width: 379px) {
.flex-container {
	font-size: 12px ;
}
}

@media screen and (max-width: 378px) {
	.flex-container {
		font-size: 10px ;
	}
	}