/* body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(79deg, #fcfced,#fcedfc 48%, #ebf6cf);
    } */
    
    h2 {
        text-align: center;
        padding-bottom: 30px;
    }
        
    .form-container, .loginForm, .registerForm {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        padding-bottom: 5px;
    }
    
    @media screen and (min-width: 600px) {
    .form-container {
    border:1px solid black;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-top: 40px;
    margin: 8px;
    }
    }
    
    
    button {
        border: none;
        background-color: white;
        margin: 10px;
        padding: 5px;
        border-radius: 20px;
        cursor: pointer;
    }
    
    input {
        margin: 8px;
        padding: 8px;
        padding-bottom: 15px;
        border-radius: 5px;
        border:none;
    }
    
    .linkButton {
    background: none;
    text-decoration: underline;
    }