h2 {
	text-align: center;
	padding-bottom: 30px;
    color: #037f8c;
}

.form-container,
.loginForm,
.registerForm {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	padding-bottom: 5px;
}

.form-container {
    border: 2px solid #037f8c;;
    border-radius: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-top: 40px;

}

.switchButton {
	background: none;
	text-decoration: underline;
}


button {
	border: none;
	background-color: #037f8c;
    color: white;
	margin: 10px;
	padding: 5px;
	border-radius: 20px;
	cursor: pointer; 
} 

.switchButton {
	border: none;
    color:#037f8c;
	margin: 10px;
	padding: 5px;
	border-radius: 20px;
	cursor: pointer;
}

input {
	margin: 8px;
	padding: 8px;
	padding-bottom: 15px;
	border-radius: 5px;
	border: none;
}
