.socialising-app {
	color: #fc7a57;
	border-style: solid;
	text-align: center;
  }
  
.socialising-button {
	border: 1px solid #fc7a57;
	background-color: white; 
	color: #fc7a57;
	box-shadow: rgb(55, 78, 102) 0px 15px 25px -10px; 
	width: 400px; 
	height: 120px; 
	margin-bottom: 20px; 
	font-family: "Raleway", sans-serif;
}
  
.socialising-button-2 {
	border: 1px solid #fc7a57;
	background-color: #fc7a57; 
	color: #F7F9FF;
	box-shadow: rgb(55, 78, 102) 0px 15px 25px -10px; 
	width: 400px; 
	height: 120px; 
	margin-bottom: 20px; 
	font-family: "Raleway", sans-serif;
}
  
.socialising-button:hover {
	background-color: #fc7a57;
	color: #F7F9FF;
}