.movement-app {
  color: #fc7a57;
	border-style: solid;
	border-color: black;
	text-align: center;
}

.movement-app:hover {
  color: #F7F9FF;
}

.movement-button {
	border: 1px solid #fc7a57; 
	color: #fc7a57;
	background-color: white; 
	box-shadow: rgb(55, 78, 102) 0px 15px 25px -10px; 
	width: 400px; 
	height: 120px; 
	margin-bottom: 20px; 
	font-family: "Raleway", sans-serif;
}

  .movement-button-2 {
	width: 300px;
	height: 100px;
	border: 1px solid #fc7a57;
	color: #fc7a57;
	background-color: #FA8072; 
	box-shadow: rgb(55, 78, 102) 0px 15px 25px -10px; 
	width: 100px; 
	height: 100px; 
	margin: 50px; 
	font-family: "Raleway", sans-serif;
	}

	.movement-button:hover {
		background-color: #037F8C;
		color: #F7F9FF;
	}

	.movement-button-2:hover {
		background-color: #037F8C;
		color: #F7F9FF;
	}