.pets-app {
    color:#037f8c;
	border-style: solid;
	text-align: center;
}

.pets-button { 
	border: 1px solid #037F8C;
	background-color: white;
	color: #037f8c;
	box-shadow: rgb(55, 78, 102) 0px 15px 25px -10px; 
	width: 400px; 
	height: 120px; 
	margin-bottom: 20px; 
	font-family: "Raleway", sans-serif;
  }

.pets-button-2 {
	border: 1px solid #037F8C;
	background-color: #037F8C;
	color: #F7F9FF;
	box-shadow: rgb(55, 78, 102) 0px 15px 25px -10px; 
	width: 400px; 
	height: 120px; 
	margin-bottom: 20px; 
	font-family: "Raleway", sans-serif;
}

.pets-button:hover {
	background-color: #037F8C;
	color: #F7F9FF;
}